<ul class="elv-nav elv-nav-footer lo">
	<li class="elv-nav-item lo-c">{% include "edit-on-github.njk" %}</li>
	<li class="elv-nav-item lo-c"><a href="/styleguide/">Style Guide</a></li>
	<li class="elv-nav-item lo-c">on <a href="https://www.netlify.com/" class="elv-externalexempt">Netlify</a></li>
	<li class="elv-nav-item lo-c">Created by <a href="https://twitter.com/realglenndixon" class="elv-externalexempt">realglenndixon</a></li>
	<li class="lo-c"></li>
</ul>