<header class="elv-layout elv-layout-full elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
	<a href="{% if logoLink %}{{ logoLink | url }}{% else %}/{% endif %}" class="elv-externalexempt"><img src="{{ "/img/logo.png" | url }}" onerror="this.src='{{ "/img/logo.png" | url }}'" alt="TheDixons logo - an old-fashioned Quaker hat" loading="eager"></a>
	<h1 class="elv-hed">{{ title | orphanWrap | safe }}</h1>
	<div class="elv-nav-header">
		<ul class="elv-nav lo">
			<li class="elv-nav-item lo-c"><a href="{{ "/houses/" | url }}" class="elv-externalexempt nound">{% emoji "📓" %}<span class="und">Houses</span></a></li>
			<li class="elv-nav-item lo-c"><a href="{{ "/houses/search/" | url }}" class="elv-nav-light nound">{% emoji "🔎" %}<span class="und">Search</span></a></li>
			<li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://github.com/dixonge/thedixons-11ty-docs/" class="elv-nav-light elv-externalexempt"><img src="/img/github.svg" class="icon" alt=""><b>GitHub</b></a></li>
			<li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://twitter.com/realglenndixon" class="elv-nav-light elv-externalexempt"><img src="/img/twitter.svg" class="icon" alt=""><b>Twitter</b></a></li>
		</ul>
	</div><!-- /elv-nav-header -->
</header>
