---
social:
  imgsrc: https://www.thedixons.net/img/logo.png
  imgalt: TheDixons.net logo, an old-fashioned Quaker hat
  description: The Dixons - A Colonial Quaker Family
---
<!doctype html>
<html lang="en"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{%- set subtitle %}{{ newstitle or searchTitle or relatedTitle or tiptitle or eleventyNavigation.key or title }}{% endset %}
		{%- set subtitleText %}{% if subtitle and subtitle != "Eleventy Home" %}{{ subtitle }} | The Dixons,{% endif %} a Colonial Quaker Family.{% endset %}
		<title>{{ subtitleText }}</title>
		<meta name="title" content="{{ subtitleText }}">
		<meta name="description" content="{{ subtitleText }}">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.thedixons.net/">
		<meta property="og:site_name" content="The Dixons">
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="{{ subtitle }}">
		<meta property="og:description" content="{{ social.description }}">
		<meta property="og:image" content="{{ social.imgsrc }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:height" content="640">
		<meta property="og:image:alt" content="{{ social.imgalt }}">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:site" content="@realglenndixon">
		<meta property="twitter:creator" content="@realglenndixon">
		<meta property="twitter:url" content="https://www.thedixons.net/">
		<meta property="twitter:title" content="{{ subtitleText }}">
		<meta property="twitter:description" content="{{ social.description }}">
		<meta property="twitter:image" content="{{ social.imgsrc }}">
		<meta property="twitter:image:alt" content="{{ social.imgalt }}">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

{%- set css %}
{% include 'index.css' %}
{% include 'components/layout.css' %}
{% include 'components/breadcrumb.css' %}
{% include 'components/navigation.css' %}
{% include 'components/community.css' %}
{% include 'components/prism-theme.css' %}
{% include 'components/code.css' %}
{% include 'components/lists.css' %}
{% include 'components/external-links.css' %}
{% include 'components/minilink.css' %}
{% include 'components/toc.css' %}
{% include 'components/callout.css' %}
{% include 'components/codetitle.css' %}
{% include 'components/forms.css' %}
{% include 'components/search.css' %}
{% include 'components/truncate.css' %}
{% include 'components/details-oneway.css' %}
{% endset %}
		<style>{{ css | cssmin | safe }}</style>
{% if feedTitle and feedUrl %}
		<link rel="alternate" href="{{ feedUrl }}" title="{{ feedTitle }}" type="application/atom+xml">
{% endif %}
<!--		<script>
		{%- include "components/js-class.js" -%}
		</script>
-->
{% if loadNetlifyIdentity %}
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script src="/js/eleventy.js" type="module"></script>
{% elseif putTheJsInTheHead %}
		<script src="/js/eleventy.js" type="module" async></script>
{% endif %}

	</head>
	<body>

		{{ content | safe }}

		<!-- Built on {{ config.now }} by Eleventy -->
		<script>
		{%- include "components/details-force-state.js" -%}
		</script>
		<script src="/js/instant.page.js" async></script>
{% if not putTheJsInTheHead %}
		<script src="/js/eleventy.js" type="module" async></script>
{% endif %}
	</body>
</html>
