---
title: The Dixons - A Colonial Quaker Family
layout: layouts/base.njk
templateClass: elv-default
headerClass: elv-header-default
---
{% include "header.njk" %}

<main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
	{{ content | safe }}
</main>

<footer class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">

	{% include "footer-nav.njk" %}
</footer>
